*{
    margin: 0%;
}
body{
    height: 3000px;
}
body::-webkit-scrollbar {
    width: 14px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background:white;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: pink;
}
header{
    width:99vw ;
    height:15vh ;
    background-color:pink ;
    display: flex;
    justify-content: center;
}
header img{
    width: 100px;
    height: 130px;
}
nav{
    height:10vh ;
    width:99vw ;
    position: sticky;
    top: 10px;
}
ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
li{
    font-size: 1.2em;
    padding-top: 1.5%;
    padding-left: 15%;
}
li a{
   text-decoration: none;
   color: black;
}
li a:hover{
    color: rgba(255, 192, 203, 0.616);
}
/*carroseul*/

.carousel-inner {
    width: 99vw;
    height: 75vh;
}
/*secao 2 produtos*/
.container-produtos{
    margin: 8% 1% 1% 1%;
    width: 97vw;
    height: 95vh;
    display: flex;
    position: relative;
    z-index: +5;
}
.col{
    width: 33vw;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    padding-left: 4%;
}
.fundo-rosa{
    border: 1px solid pink;
    border-radius: 15px;
    background-color: rgba(255, 192, 203, 0.767);
    padding: 10px;
    box-shadow: 5px 5px 5px 5px pink;
}
.produto{
    border: 1px solid white;
    border-radius: 25px;
    width: 30vw;
    height: 75vh;
    background-color: white;
}
/*secao mvv*/
.contianer-texto{
    background-color: white;
    width: 99vw;
    height: 120vh;
    padding: 10px;
    position: relative;
    z-index: +5;
    margin-bottom: 10%;
}
.texto h3{
    color: pink;
    font-size: 4em;
}
.texto p{
    padding-top: 10px;
    text-align: justify;
    font-size: 1.8em;
}
/*secao 4 formulario*/
.case-formulario{
    margin-top: 10%;
    background-color: white;
    width: 99vw;
    height: 95vh;
}
.colform{
    width: 48vw;
}
.colform img{
    padding: 10px;
    width: 47vw;
    height: 80vh;
}
label{
    color: rgb(243, 129, 148);
    font-size: 1.5em;
}
input{
    width: 45vw;
}
textarea{
    border-radius: 7px;
}
/*feoter*/
footer{
    width: 99vw;
    height: 20vh;
    background-color: pink;
}